security:

    encoders:
            AppBundle\Entity\User: bcrypt

    providers:
#        in_memory:
#            memory:
#                users:
#                     admin:
#                      password: admin
#                      roles: 'ROLE_ADMIN'
        database_users:
                entity: { class: AppBundle:User, property: username }

    firewalls:


        secured_area:
            pattern: /.*
#            http_basic: ~
            provider: database_users
            anonymous: true
            form_login:
                        check_path: /login_check
                        login_path: /login

            logout:
                          path:   /logout
                          target: /
#        login_firewall:
#
#          form_login:
#            check_path: /login_check
#            login_path: /login
#          provider: database_users






    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/registration, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_USER }
#        - { path: ^/admin, roles: ROLE_ADMIN }


