.lvl{
	background-color: #EFEFEF;
	border-radius: 0.5em/0.5em;
	padding: 5px 10px 5px 10px;
}
.lvl1{
	height: 60px;
}
h3{
	font-size: 20px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}
button{
	font-size: 12px !important;
	width: 115px;
	color: #FFF;
	border: none;
    padding: 2px;
    margin-top: 14px;
    font-weight: bold;
}
#begin{
	background: url("../images/button/buttonBlueActive.png") no-repeat;
	background-size: 100% 100%;
}
.font-size-60{
	font-size: 60px;
}
