html, body{
    margin: 0;
    padding: 0;
    min-width: 624px;
    max-width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100%;
    height: auto !important;
    position: relative;
    background-color: #E6E6E6;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}
.content{
    width: 624px;
    font-size: 12px;
}
.clearfix:after{
    content:'';
    clear:both;
    display: block;  /* сделать блоком, т.к. inline не может иметь clear */
    height: 0;
}
/*footer, .content:after{
  height: 66px; 
}*/
.disp-block{
    display: block;
}
.disp-inline{
    display: inline;
}
.disp-inline-block{
    display: inline-block;
}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
    margin-right: 0px;
}
.width-auto{
    width: auto;
}
/*.page-buffer{
    height: 66px;
}*/
.font-s-14{
    font-size: 14px;
}
.al-center{
    text-align: center;
}
.w-bold{
    font-weight: bold;
}
.marg-auto{
    margin-left: auto;
    margin-right: auto;
}
.position-rel{
    position: relative;
}
.position-abs{
    position: absolute;
    bottom: 0;
}
.vert-align-m{
    vertical-align: middle;
}
.mar-pad-0{
    margin: 0;
    padding: 0;
}
textarea{
    resize: vertical;
}
a{
    outline: none;
    text-decoration: none;
}
.red-button, .blue-button, .green-button{
    font-size: 12px !important;
    width: 115px;
    color: #FFF;
    padding: 2px;
    font-weight: normal;
    text-align: center;
}
a > .blue-button,a > .red-button, a > .green-button{
    height: 15px;
    padding: 2px 0px; !important;
}
button,button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}
.red-button{
    background: url("../images/button/buttonRed.png") no-repeat;
    background-size: 100% 100%;
}
.red-button:hover{
    background: url("../images/button/buttonRedHover.png") no-repeat;
    background-size: 100% 100%;
}
.red-button:active{
    background: url("../images/button/buttonRedActive.png") no-repeat;
    background-size: 100% 100%;
}
.blue-button{
    background: url("../images/button/buttonBlue.png") no-repeat;
    background-size: 100% 100%;
}
.blue-button:hover{
    background: url("../images/button/buttonBlueHover.png") no-repeat;
    background-size: 100% 100%;
}
.blue-button:active{
    background: url("../images/button/buttonBlueActive.png") no-repeat;
    background-size: 100% 100%;
}
.green-button{
    background: url("../images/button/buttonGreen.png") no-repeat;
    background-size: 100% 100%;
}
.green-button:hover{
    background: url("../images/button/buttonGreenHover.png") no-repeat;
    background-size: 100% 100%;
}
.green-button:active{
    background: url("../images/button/buttonGreenActive.png") no-repeat;
    background-size: 100% 100%;
}
.del-img,.edit-img,.be-admin-img, #tick{
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    padding: 0 !important;
}
.del-img{
    background: url("../images/button/ui-icons_222222_256x240.png") no-repeat -177px -98px;
    top: 10px;
    right: 5px;
}
.del-img:hover, .del-img:active{
    background: url("../images/button/ui-icons_2694e8_256x240.png") no-repeat -177px -98px !important;
}
.edit-img{
    background: url("../images/button/ui-icons_222222_256x240.png") no-repeat -65px -113px;
    top: 35px;
    right: 5px;
}
.edit-img:hover, .edit-img:active{
    background: url("../images/button/ui-icons_2694e8_256x240.png") no-repeat -65px -113px !important;
}
.be-admin-img{
    background: url("../images/button/ui-icons_222222_256x240.png") no-repeat -225px -113px;
}
.be-admin-img:hover, .be-admin-img:active{
    background: url("../images/button/ui-icons_2694e8_256x240.png") no-repeat -225px -113px !important;
}

.width-410{
    width: 410px;
}
.width-100{
    width: 100px;
}
.height-35{
    height: 35px;
}
.mar-l-35{
    margin-left: 35px;
}
.marg-r-30{
    margin-right: 30px;
}
.mar-top-30{
    margin-top: 30px;
}
.mar-top-15{
    margin-top: 15px;
}
.mar-top-5{
    margin-top: 5px;
}
.mar-left-5{
    margin-left: 5px;
}
.wid_202{
    width: 240px;
}


