html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100%;
    height: auto !important;
    position: relative;
    background-color: #E6E6E6;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}
.content{
    width: 624px;
    font-size: 12px;
}
.clearfix:after{
    content:'';
    clear:both;
}
/*footer, .content:after{
  height: 66px; 
}*/
.fl-left{
    float: left;
}
.fl-right{
    float: right;
    margin-right: 0px;
}
/*.page-buffer{
    height: 66px;
}*/
.font-s-14{
    font-size: 14px;
}
.al-center{
    text-align: center;
}
.w-bold{
    font-weight: bold;
}
.marg-auto{
    margin-left: auto;
    margin-right: auto;
}
.position-rel{
    position: relative;
}
.position-abs{
    position: absolute;
    bottom: 0;
}
.vert-align-m{
    vertical-align: middle;
}
.mar-pad-0{
    margin: 0;
    padding: 0;
}
a{
    outline: none; 
}
.red-button, .blue-button, .green-button{
    font-size: 12px !important;
    width: 115px;
    color: #FFF;
    padding: 2px;
    font-weight: normal;
    text-align: center;
}
button,button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: none;
}
.red-button{
    background: url("../images/button/buttonRed.png") no-repeat;
    background-size: 100% 100%;
}
.red-button:hover{
    background: url("../images/button/buttonRedHover.png") no-repeat;
    background-size: 100% 100%;
}
.red-button:active{
    background: url("../images/button/buttonRedActive.png") no-repeat;
    background-size: 100% 100%;
}
.blue-button{
    background: url("../images/button/buttonBlue.png") no-repeat;
    background-size: 100% 100%;
}
.blue-button:hover{
    background: url("../images/button/buttonBlueHover.png") no-repeat;
    background-size: 100% 100%;
}
.blue-button:active{
    background: url("../images/button/buttonBlueActive.png") no-repeat;
    background-size: 100% 100%;
}
.green-button{
    background: url("../images/button/buttonGreen.png") no-repeat;
    background-size: 100% 100%;
}
.green-button:hover{
    background: url("../images/button/buttonGreenHover.png") no-repeat;
    background-size: 100% 100%;
}
.green-button:active{
    background: url("../images/button/buttonGreenActive.png") no-repeat;
    background-size: 100% 100%;
}
.width-410{
    width: 410px;
}
.height-35{
    height: 35px;
}
.mar-l-35{
    margin-left: 35px;
}
.marg-r-30{
    margin-right: 30px;
}
.mar-top-30{
    margin-top: 30px;
}
.wid_202{
    width: 240px;
}
