html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100%;
    height: auto !important;
    position: relative;
    background-color: #E6E6E6;
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}
.content{
    width: 624px;
    font-size: 12px;
}
.clearfix:after{
    content:'';
    clear:both;
}
/*footer, .content:after{
  height: 66px; 
}*/
.fl-left{
    float: left;
}
.fl-right{
    float: right;
    margin-right: 0px;
}
/*.page-buffer{
    height: 66px;
}*/
.font-s-14{
    font-size: 14px;
}
.al-center{
    text-align: center;
}
.w-bold{
    font-weight: bold;
}
.marg-auto{
    margin-left: auto;
    margin-right: auto;
}
.position-rel{
    position: relative;
}
.position-abs{
    position: absolute;
    bottom: 0;
}
.vert-align-m{
    vertical-align: middle;
}
.mar-pad-0{
    margin: 0;
    padding: 0;
}
a{
    outline: none; 
}
