header{
	/*width:auto;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin-bottom: 30px;
	background-color: #00A0FB;
	height: 48px;
	position: relative;
	z-index: 2;
}
.header_content{
	width: 73%;
}
#logo{
	width: 40px;
	height: 40px;
	margin-bottom: 4px;
	margin-top: 4px;
	margin-right: 10px;
}
.header_content span{
	margin-top: 14px;
	color:#FFF;
	font-weight: bold;
	display: inline-block;
}
#exit{
	margin-top: 14px;
}

