#personal{
    background-color: #EFEFEF;
    border-radius: 0.5em/0.5em;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
}
#name{
    font-size: 24px;
    margin-bottom: 10px;
}
#nGroup{
    padding: 2px;
}
#make-user, #make-admin{
    width: 166px !important;
}
.main-menu{
    list-style:none;
    width: inherit;
    padding:0;
    margin:0;
}
.main-menu a{
    display:block;
    padding: 3px;
    color:#000;
    text-decoration:none;
}
.main-menu a:hover{
    border-radius: 0.5em/0.5em;
    background:#00A0FB;
    color: #FFF;
}
.main-menu>li{
    border-radius: 0.5em/0.5em;
    background:#F2F5F7;
    border: 1px solid #aed0ea;
    border-bottom: none;
}
.main-menu>li:last-child{
    border-bottom: 1px solid #aed0ea !important;
    border-radius:0em 0em 0.5em 0.5em !important;
}
#prompt{
    color: #777;
    margin-left: 180px;
    border: none;
}
.main-menu .sub:last-child a:hover{
    border-radius:0em 0em 0.5em 0.5em !important;
    background:#00A0FB;
    color: #FFF;
}
.main-menu .sub a:hover{
    border-radius:0 !important;
    background:#00A0FB;
    color: #FFF;
}
.sub{
    border-radius:0 !important;
    width: inherit;
    padding:0;
    margin:0;
}
#tabs{
    background-color: #E6E6E6 !important;
    border: none !important;
}
#tabs-1 .main-menu .sub:first-child, #tabs-2 .main-menu .sub:first-child, #tabs-3 .main-menu .sub:first-child{
    border-radius:0em 0em 0em 0em !important;
    border-top: none !important;
}
.ui-tabs .ui-tabs-panel, .ui-tabs{
    padding: 0 !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px !important;
}

td .del-img{
    top: 0px !important;
    right: 0px !important;
}
td .edit-img{
    top: 15px !important;
    right: 0px !important;
}
td .be-admin-img{
    top: 30px !important;
    right: 0px !important;
}
td .be-user-img{
    top: 30px !important;
    right: 0px !important;
}
.link-on-user{
    cursor: pointer;
}
.link-on-user:hover{
    text-decoration: underline;
}