#personal{
    background-color: #EFEFEF;
    border-radius: 0.5em/0.5em;
    padding: 5px 0px 5px 10px;
}
#name{
    font-size: 24px;
}
.main-menu, .sub-menu{
    list-style:none;
    width: inherit;
    padding:0;
    margin:0;
}
.main-menu a{
    display:block;
    padding: 3px;
    color:#000;
    text-decoration:none;
}
.main-menu a:hover{
    border-radius: 0.5em/0.5em;
    background:#00A0FB;
    color: #FFF;
}
.main-menu>li{
    border-radius: 0.5em/0.5em;
    background:#FFFFFF;
    border: 1px solid #777;
    border-bottom: none;
}
.main-menu>li:last-child{
    border-bottom: 1px solid #777 !important;
}
li ul {
    display: none;
}
#prompt{
    color: #777;
    margin-left: 180px;
    border: none;
}
.sub:first-child{
    border-radius:0.5em 0.5em 0em 0em !important;
}
.main-menu .sub:first-child a:hover{
    border-radius:0.5em 0.5em 0em 0em !important;
    background:#00A0FB;
    color: #FFF;
}
.sub:last-child{
    border-radius:0em 0em 0.5em 0.5em !important;
}
.main-menu .sub:last-child a:hover{
    border-radius:0em 0em 0.5em 0.5em !important;
    background:#00A0FB;
    color: #FFF;
}
.main-menu .sub a:hover{
    border-radius:0 !important;
    background:#00A0FB;
    color: #FFF;
}
.sub{
    border-radius:0 !important;
    list-style:none;
    width: inherit;
    padding:0;
    margin:0;
}
#bin-logo{
    background: url("../images/button/bin.png") no-repeat;
    background-size: 100% 100%;
}
#bin-logo:active{
    background: url("../images/button/binActive.png") no-repeat;
    background-size: 100% 100%;
}
#pen-logo{
    background: url("../images/button/pen.png") no-repeat;
    background-size: 100% 100%;
}
#pen-logo:active{
    background: url("../images/button/penActive.png") no-repeat;
    background-size: 100% 100%;
}

