#personal{
    background-color: #EFEFEF;
    border-radius: 0.5em/0.5em;
    padding: 5px 0px 5px 10px;
}
#name{
    font-size: 24px;
}
.main-menu, .sub-menu{
    list-style:none;
    width: inherit;
    padding:0;
    margin:0;
}
.main-menu a{
    display:block;
    padding: 3px;
    color:#000;
    text-decoration:none;
}
.main-menu a:hover{
    border-radius: 0.5em/0.5em;
    background:#00A0FB;
    color: #FFF;
}
.main-menu>li{
    border-radius: 0.5em/0.5em;
    background:#FFFFFF;
    border: 1px solid #777;
}
li ul {
    display: none;
}
#prompt{
    color: #777;
    margin-left: 180px;
    border: none;
}