.lvl, .modalDialogDes, #newTestForm, #registrationOfUsersForm{
	background-color: #EFEFEF;
	border-radius: 0.5em/0.5em;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}
#del-test{
	margin-right: 5px;
}
#edit-test{
	width: 120px !important;
}
h3{
	font-size: 20px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}
.quest-box{
	width: inherit;
	min-height: 120px;
}
.quest-number{
	width: 48px;
	height: 48px;
	border-radius: 10em/10em;
	margin-left: 15px;
	margin-top: 25.5px;
	margin-bottom: 40px;
}
.quest-number p{
	margin-top: 15.5px;
}
.quest-number, .question, .description-result-box, .content-des-res{
	background-color: #fff;
}
.question{
	list-style:none; 
	width: 540px;
}
.question li{
	display: inline-block;
	margin: 20px 0px 10px 0px;	
}
.question h4, #add-content{
	font-weight: normal;
	margin: 5px 0px 0px 5px;
}
.question p{
	margin-left: 5px;
	font-size: 11px;
	color: #C1C1C1;
}
#end-test{
	background: url("../images/button/buttonRedActive.png") no-repeat;
	background-size: 100% 100%;
	margin: 0px 0px 20px 0px !important;
}
#add-content textarea, .content-des-res textarea, modalDialogDes textarea{
	width: 400px;
}

.butblock{
	width: 115px;
	padding: 5px;
}
.butblock>button{
	margin-top: 5px !important;
}
a #input{
	height: 17px;
}
#descriptionTestForm {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 99999;
	display: none;
}
.modalDialogDes{
	position: relative;
	margin: 5% auto;
}
#input, #create{
	margin-top: 5px;
}
.cnl{
	background: url("../images/button/ui-icons_222222_256x240.png") no-repeat -177px -98px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0px 5px 6px 5px;
	outline: none;
}
.cnl:hover, .cnl:active{
	background: url("../images/button/ui-icons_2694e8_256x240.png") no-repeat -177px -98px;
}
#add-q{
}

.dis-content{
	margin: 10px;
}
.content-des-res{
	padding: 5px;
	position: relative;
}
#add-description{
	width: auto !important;
}
.description-result-box{
	margin-top: 20px;
	margin-bottom: 20px;
}
.img-in-form{
	width: 100px;

}
.fancy-img{
	margin-top: 10px;
	margin-right: 23px !important;
}


/********************TABLE**************/
.simple-little-table {
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	border-collapse:separate;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.simple-little-table th {
	font-weight:bold;
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
	text-align: left;
	padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.simple-little-table tr{
	text-align: center;
	padding-left:20px;
}
.simple-little-table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.simple-little-table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
	border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
.simple-little-table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.simple-little-table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
/********************TABLE**************/
/*------------------------------for new_test---------------------*/
#description-new-test-field{
	width: 300px;
}