.lvl, .modalDialogDes{
	background-color: #EFEFEF;
	border-radius: 0.5em/0.5em;
	padding: 5px 10px 5px 10px;
}
#del-test{
	margin-right: 5px;
}
h3{
	font-size: 20px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}

.quest-box{
	/*width: inherit;*/
	height: 120px;
}
.quest-number{
	width: 48px;
	height: 48px;
	border-radius: 10em/10em;
	margin-left: 15px;
	margin-top: 25.5px;
	margin-bottom: 40px;
}
.quest-number p{
	margin-top: 15.5px;
}
.quest-number, .question{
	background-color: #fff;
}
.question{
	list-style:none; 
	width: 540px;
}
.question li{
	display: inline-block;
	margin: 20px 0px 10px 0px;	
}
.question h4, #add-content{
	font-weight: normal;
	margin: 5px 0px 0px 5px;
}
.question p{
	margin-left: 5px;
	font-size: 11px;
	color: #C1C1C1;
}
#end{
	background: url("../images/button/buttonRedActive.png") no-repeat;
	background-size: 100% 100%;
	margin: 0px 0px 20px 0px !important;
}
textarea{
	resize: none;
	width: 400px;
}
.butblock{
	width: 115px;
	padding: 5px;
}
.butblock>button{
	margin-top: 5px !important;
}
a #input{
	height: 17px;
}
#descriptionTestForm {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
}
.modalDialogDes{
	position: relative;
	margin: 5% auto;
}
#input, #create{
	margin-top: 5px;
}
#cancel-a{
	background: url("../images/trigleOpen.png") no-repeat;
	background-size: 100% 100%;
	width: 17px;
	height: 17px;
	display: inline-block;
	margin: 0px 4px 4px 4px;
	outline: none;
}
#add-q{
}
