body {
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 12px !important;
}
#err{
    background-color: #FF5A42;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.form_content{
	color: #272727;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -150px;
	width: 300px;
	background-color: rgba(252, 252, 252, 0.8);
}
input{
    width: 238px;
}
#registrationForm{
    margin-top: 20px;
}
div #logo{
	width: 40px;
	height: 40px;
}
#logo{
	margin-top: 30px;
	background: url("../images/preLogo.png") no-repeat;
	background-size: 100% 100%;
}
.lab{
    display: block;
    padding: 0 !important;
    text-align: left;
    vertical-align: middle !important;
}
input[type="text"], input[type="password"]{
    background-color: #E9E9E9;
    border: none;
}
#forget{
	display: block;
	color: #6A6A6A;
	text-align: right;
}
.sent-reset{
	margin-bottom: 0 !important;
	margin-top:10px;
}
input[type="text"], input[type="password"]{
    padding: 2px;
}
button{
    height: 21px;
}
button, a #registr, a #input{
	margin-bottom: 39px !important;
}
a #registr, a #input{
    height: 17px;
}

