{% extends ':tests:about_test.html.twig' %}

{% block body %}
    {{ parent() }}
{% block complete %}
{% endblock %}
    <div class="content marg-auto clearfix">
    <div id="lvl">
        <h3>Пояснения к результатам</h3>
        <p>{{ userExp.rating }}</p>
        <p>{{ userExp.description }}</p>
    </div>

{% endblock %}